.component {
  position: relative;
  text-align: center;
  color: #a6a6a6;
}

.title, .promoDescription {
  position: absolute;
  width: 100%;
}

.title {
  bottom: 40px;
}

.promoDescription {
  bottom: 10px;
}